body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    display: flex;
    width: 100%;
    height: 100%;
}

#current-song {
    display: flex;
    background: var(--card-color);
    border-radius: var(--card-border-radius);
    transition: transform var(--transition-duration), opacity var(--transition-duration);
    transform-origin: var(--transition-origin);
    box-shadow: 0 2px var(--card-shadow-blur) 0 var(--card-shadow);
    margin: var(--card-margin);
    position: absolute;
    overflow: hidden;
}

#song-info {
    display: flex;
    flex-direction: column;
    margin: 0.5em 1em 0.5em 0.5em;
}

#song-title {
    font-size: 1.5em;
    margin: 0;
    text-shadow: 2px 2px 5px var(--song-name-shadow);
}

#song-artist {
    font-size: 1em;
    margin: 0;
    text-shadow: 2px 2px 5px var(--song-artist-shadow);
}

#song-cover {
    height: 8vh;
    width: auto;
    border-top-left-radius: var(--card-border-radius);
    border-bottom-left-radius: var(--card-border-radius);
}

.hidden {
    transform: scale(0, 0);
    opacity: 0;
}

.display-none {
    display: none;
}

#progress-bar {
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color: var(--progress-bar-color);
    position: absolute;
    transform-origin: left;
}
